PORT=3000

DB_DATABASE_HOST='localhost'
DB_DATABASE_PORT=5432
DB_DATABASE_USERNAME='postgres'
DB_DATABASE_PASSWORD='sua-senha'
DB_DATABASE_DATABASE='financeiro'
DB_DATABASE_AUTO_LOAD_ENTITIES=true
DB_DATABASE_SYNCHRONIZE=true
