PORT=3000
FRONTEND_ORIGIN=http://localhost:5173

DB_DATABASE_HOST='localhost'
DB_DATABASE_PORT=5432
DB_DATABASE_USERNAME='postgres'
DB_DATABASE_PASSWORD='sua-senha'
DB_DATABASE_DATABASE='financeiro'
DB_DATABASE_AUTO_LOAD_ENTITIES=true
DB_DATABASE_SYNCHRONIZE=true

JWT_SECRET=
JWT_TOKEN_AUDIENCE=http://localhost:300
JWT_TOKEN_ISSUER=http://localhost:300
JWT_ACCESS_TOKEN_TTL=1800
JWT_REFRESH_TOKEN_TTL=14400
